/* Reset dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

/* Navbar container */
.navbar {
    position: relative;
    width: 100%;
    height: 80px;
    background-color: #CDDFE9;
    display: flex;
    align-items: center;
    padding: 0 70px;
    font-family: 'Montserrat', sans-serif;
}

/* Logo */
.logo img {
    height: 70px;
}

/* Tombol Get Started */
.navbar .get-started-btn {
    position: absolute;
    right: 40px;
    top: 20px;
    width: 159px;
    height: 40px;
    background: white;
    border-radius: 15px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #4BB7B7;
    font-weight: 500;
}

/* Menu navigasi */
.navbar .nav-item {
    position: absolute;
    font-size: 20px;
    color: #4BB7B7;
    font-weight: 500;
    text-align: center;
}

.navbar .nav-home {
    left: 1100px;
    top: 28px;
    width: 90px;
    height: 24px;
}

.navbar .nav-about {
    left: 1200px;
    top: 28px;
    width: 114px;
    height: 23px;
}

/* content */
/* Konten utama dengan background gambar */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 88vh;
    background-image: url('/static/img/bg-2.png');
    background-size: cover;
    background-position: center;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

.box {
    max-width: 1370px; 
    width: 100%;
    border-radius: 20px;
    background: #CDDFE9;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    padding: 20px; 
    box-sizing: border-box;
    margin-top: 10px; 
}

.image img {
    max-width: 300px;
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
}

.text{
    color: #4BB7B7;
    text-align: center;
    font-family: Montserrat;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.btn {
    width: 150px;
    height: 55px;
    border-radius: 15px;
    border: 5px solid #4BB7B7;
    color: #4BB7B7;
    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin: 10px 0px 10px 0px;
    box-sizing: border-box; 
}

.btn-d {
    width: 120px;
    height: 50px;
    border-radius: 15px;
    border: 5px solid #4BB7B7;
    color: #4BB7B7;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin: 20px 0px 20px 0px;
    box-sizing: border-box; 
}

.image-output {
    display: flex;
    justify-content: center;
    gap: 30px; /* jarak antar gambar */
    flex-wrap: wrap; /* biar responsif di layar kecil */
    margin-top: 50px;
}

.image-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-item img {
    width: 300px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.feature {
    margin: 5px;
    font-size: 15px;
    color: #4BB7B7;
    text-align: center;
    font-family: Montserrat;
}

.title-preview{
    padding: 10px;
    font-size: 24px;
    color: #4BB7B7;
    text-align: center;
    font-family: Montserrat;
}

.btn.loading {
    opacity: 0.6;
    pointer-events: none;
    transition: opacity 0.3s;
}
