<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preview - Pengolahan Citra CCTV</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/preview.css') }}">
    <!-- <link rel="shortcut icon" href="../static/img/favicon-32x32.png" type="image/x-icon"> -->
</head>
<body>
    <nav>
        <div class="navbar">
            
            <a href="{{ url_for('home') }}">
                <div class="nav-item nav-home">Home</div>
            </a>
            <a href="{{ url_for('about') }}">
                <div class="nav-item nav-about">About</div>
            </a>
        </div>
    </nav>
    
    <div class="content">
        <div class="box">
            <h2 class="title-preview">Preview Original Image</h2>
        <div class="image">
                <img src="{{ file_url }}" alt="Gambar Asli">
            </div>
            <br>
            <a href="{{ url_for('check') }}" class="btn">Check Image</a>

            <div id="loading-spinner" style="display:none; text-align:center; margin-top:10px;">
                <div class="spinner"></div>
            </div>

        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const btn = document.querySelector('.btn');

            btn.addEventListener('click', function (e) {
                e.preventDefault(); // Cegah langsung redirect
                btn.textContent = 'Processing...';
                btn.classList.add('loading'); // Tambah class untuk animasi jika ada
                btn.disabled = true;

                // Redirect manual setelah sedikit delay (misal 500ms)
                setTimeout(() => {
                    window.location.href = btn.getAttribute('href');
                }, 2000); // atau bisa langsung 0 jika tidak ingin delay
            });
        });
    </script>

</body>
</html>
